

@font-face {
    font-family: "sukhumvitSetMedium";   /*Can be any text*/
    src: local("sukhumvitSet-Medium"),
        url("../Fonts/sukhumvit/ttf/SukhumvitSet-Medium.ttf") format("truetype");
  }
  
  
  *{
    font-family: sukhumvitSetMedium;
  }




.promotion-section {
    position: relative;
    width: 38%;
    top: 12%;
}

.promotion-Pc {
    position: absolute;
    width: 112%;
    padding: 34px 0px 0px 0px;
    top: -60px;
    right: -97%;
    text-align: center;
}

img.text--promotion {
    /* position: fixed;
    width: 13%;
    top: 18%;
    right: 43%; */
    position: relative;
    width: 225px;
    margin: 0 0 30px -72px;
}

.promotion-section .bg--tab--blue {
    position: absolute;
    width: 83%;
    padding: 4px 0px 0px 0px;
    /* top: 3%;
    right: 35%; */
}

ul.nav.nav-tabs {

    /* justify-content: space-around;
    z-index: 1;
    border-bottom: 8px;
    height: 106px;
    padding: 7% 38% 2% 23%;
    margin-bottom: 6%; */

    justify-content: space-around;
    z-index: 1;
    border-bottom: 8px;
    height: 106px;
    /* padding: 7% 38% 2% 23%; */
    width: 78%;
    padding: 31px 0 0 22px;
}

.nav-link{ padding: 0; color:  #ffffff;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}


.promotion-Pc{ display: block;}
.promotion-MB{ display: none;}


@media screen and (max-width: 1600px){
    
    .promotion-section .bg--tab--blue {
        position: absolute;
        /* width: 44%; */
        padding: 7px -2px 0px 0px;
        /* top: 14%; */
        /* right: 36%; */
    }
    
    ul.nav.nav-tabs {
    
        justify-content: space-around;
        z-index: 1;
        border-bottom: 8px;
        /* height: 106px; */
        /* padding: 10% 39% 1% 24%; */
        margin-bottom: 1%;
        padding-top: 23px;
    }

    .promotion-Pc {
        position: absolute;
        width: 112%;
        padding: 34px 0px 0px 0px;
        /* top: 55px; */
        right: -97%;
    }
    
}

@media screen and (max-width: 1450px){
    
    /* .promotion-section .bg--tab--blue {
        position: absolute;
        width: 45%;
        padding: 7px 0px 0px 0px;
        top: 16%;
        right: 36%;
    }
       
    ul.nav.nav-tabs {  
        justify-content: space-around;
        z-index: 1;
        border-bottom: 8px;
        height: 106px;
        padding: 12% 37% 1% 21%;
        margin-bottom: 1%;
    } */

    .promotion-Pc {
        position: absolute;
        width: 112%;
        padding: 0px 0px 0px 0px;
        top: 0px;
        right: -96%;
        
    }
    

}

@media screen and (max-width: 1366px){
     
    /* img.text--promotion {
        position: fixed;
        width: 13%;
        top: 10%;
        right: 43%;
    } */

    /* .promotion-section .bg--tab--blue {
        position: absolute;
        width: 45%;
        padding: 7px 0px 0px 0px;
        top: 16%;
        right: 36%;
    }
    
    ul.nav.nav-tabs {   
        justify-content: space-around;
        z-index: 1;
        border-bottom: 8px;
        height: 106px;
        padding: 12% 37% 1% 21%;
        margin-bottom: 1%;
    } */

    .promotion-Pc {
        position: absolute;
        width: 112%;
        /* padding: 0px 0px 0px 0px;
        top: 0px; */
        right: -96%;
    }

    .promotion-section {
        top: 15%;
    }
    
}

@media screen and (max-width: 1280px){
    
    /* .promotion-section .bg--tab--blue {
        position: absolute;
        width: 59%;
        padding: 7px 0px 0px 0px;
        top: 14%;
        right: 28%;
    } */
      
    ul.nav.nav-tabs {
        padding-top: 17px;
    }

    .promotion-Pc {
        position: absolute;
        width: 112%;
        padding: 34px 0px 0px 0px;
        top: 75px;
        right: -96%;
    }
    
    .promotion-section {
        top: 20px;
    }

}



@media screen and (max-width: 1128px){
    
    /* img.text--promotion {
        position: fixed;
        width: 13%;
        top: 11%;
        right: 43%;
    } */

    /* .promotion-section .bg--tab--blue {
        position: absolute;
        width: 62%;
        padding: 7px 0px 0px 0px;
        top: 14%;
        right: 27%;
    } */
       
    ul.nav.nav-tabs {
        padding-top: 13px;
    }

    .promotion-Pc {
        position: absolute;
        width: 109%;
        top: 35px;
        right: -93%;
        padding: 34px 0px 0px;
    }
    /* .promotion-section {
        top: 11%;
    } */

}

@media screen and (max-width: 1024px){
/*     
    img.text--promotion {
        position: fixed;
        width: 15%;
        top: 10%;
        right: 42%;
    } */

    /* .promotion-section .bg--tab--blue {
        position: absolute;
        width: 62%;
        padding: 7px 0px 0px 0px;
        top: 12%;
        right: 27%;      
    } */

    .promotion-Pc {
        position: absolute;
        width: 144%;
        top: 50px;
        right: -118%;
        padding: 34px 0px 0px;
    }
    
    ul.nav.nav-tabs {
        padding-top: 14px;
    }

}

@media screen and (max-width: 840px){

   
    .promotion-Pc {
        position: absolute;
        width: 144%;
        top: 0px;
        right: -118%;
        padding: 34px 0px 0px;
    }
    

    ul.nav.nav-tabs {
        height: 70px;
    }
    img.text--promotion {
        width: 50%;
        margin: 20px 0 15px -8%;
    }

}

@media screen and (max-width: 763px) {
    .promotion-section .bg--tab--blue {
        width: 91%;
    }
    ul.nav.nav-tabs {
        width: 86%;
    }
}

@media screen and (max-width: 595px) {
    ul.nav.nav-tabs {    
        padding-top: 14px;
        font-size: 12px;
    }
    .promotion-section .bg--tab--blue {
        height: 43px;
    }
}



/*mobile*/
@media screen and (max-width: 400px){
    .promotion-Pc{ display: none;}
    .promotion-MB{ display: block;}
    
    ul.nav.nav-tabs {
        justify-content: space-around;
        z-index: 1;
        border-bottom: 16px;
        height: 45px;
        /* margin-bottom: 1%; */
        width: 100%;
        margin-left: 38px;
        margin-top: 29px;
        margin: 29px 0 15px 38px;
    }

    .row>* {
        flex-shrink: 0;
        width: 120%;
        max-width: 200%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

    .promotion-MB {
        position: absolute;
        width: 62%;
        padding: 27px 0px 0px 0px;
        top: 70px;
        left: 5%;
    }

    img.MB--tab--blue {
        position: absolute;
        width: 137%;
        padding: 7px 0px 0px 0px;
        top: 193%;
        right: -41%;
    }

    img.MB--text--promotion {
        position: absolute;
        width: 75%;
        top: 80px;
        left: 33%;
    }
    img.MB--text--bar {
        position: absolute;
        width: 140%;
        top: 31px;
        left: 4%;
    }

    .Promotion-pro {
        position: absolute;
        width: 110%;
        top: 94px;
        left: -5%;
        padding-bottom: 120px;
    }

    .text--game--MB {
        width: 100%;
        height: 35px;
        margin-left: 50px;
        position: relative;
    }

    img.MB--text--bar {
        position: absolute;
        width: 100%;
        top: 50%;
        margin: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text--game--MB marquee {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 80%;
        font-size: 12px;
        color: #fff;
    }
    
}





.nav-link:focus, .nav-link:hover,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: rgb(255, 252, 252);
    font-weight: 600;
    border: 0;
}
.nav-link {
    transition: none;
}



